.loadingbody {
    margin: 0;
    background: #682d67;
}

.bg-area {
    position: fixed;
    left: -50%;
    right: -50%;
    top: 0;
    bottom: 0;
    animation: animate 5s ease-in-out infinite alternate;
    background: linear-gradient(90deg, #a93563 50%, #2d276b -50%);
    opacity: .5;
    z-index: -1;
}

.layer-2 {
    animation-direction: alternate-reverse;
    animation-duration: 3s;
}

.layer-3 {
    animation-duration: 5s;
}

.banner-text {
    left: 50%;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

.banner-text>h2 {
    font-family: Shrikhand;
    font-size: 55px;
    letter-spacing: 5px;
    color: white;
    margin: 0;
}

.banner-text>h3 {
    font-size: 30px;
    margin: 0;
    font-family: Courgette;
    letter-spacing: 5px;
    color: white;
}

@keyframes animate {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(50%)
    }
}